<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/bay/IdeaProjects/shoppingOnTaobao/src/main/java/shopping/Shopping.java"><classes><class name="shopping.Shopping"><methods><include name="shoping"/></methods></class></classes></test></suite>