<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/bay/IdeaProjects/shoppingOnTaobao/src/main/java/testCases/CaseShopping.java">
        <classes>
            <class name="testCases.CaseShopping">
                <methods>
                    <include name="shopingCase"/>
                </methods>
            </class>
            <class name="testCases.CaseLogin">
                <methods>
                    <include name="loginCase"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>